[defaults]
host_key_checking = False
timeout = 60
retry_files_enabled = False
deprecation_warnings = False
gathering = smart
remote_tmp = /tmp/ansible-tmp
local_tmp = /tmp/ansible-tmp
allow_broken_conditionals = True

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
scp_if_ssh = True
control_path = /tmp/ansible-%%h-%%p-%%r
